
.foodserContainer{
    width: 80%;
    margin:0 auto;
    text-align: center;
}

.main h1{
    font-size: 40px;
}

.search{
    margin: 15px 0;
    width:350px;
    height: 30px;
    border-radius: 15px;
    padding: 2px, 15px;
    margin: 0 auto;
    text-align: center;
}

.Cardcontainer{
   
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;

}

.card{
    width:150px;
    border-radius: 15px;
    padding:3px;
    align-items: center;
    display: inline-block;
    margin-right: 10px;
    
}

img{
    width: 100%;
    border-radius: 15px 15px 0 0;

}

.letterCats{
    display: flex ;
    margin: 200px 0;
    text-align: center;
    justify-content: center;
}

.catbox{
    width: 40px;
    height: 40px;
    display: inline-block ;
}

.info img{
    width: 400px;
    height:600px;
}

.moreinfo{
    text-align: right;
}

Header{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    border: 1px solid black;
    background-color: black;
    color: white;
  }

.Homecontainer{
 
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}

.Home-h1{
    margin-bottom: 200px;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}
.Home-p{
font-weight: 600;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.iconfood{
    font-size: 35px;
    
}

.Aboutcontainer{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.Aboutheading{
    margin-bottom: 300px;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

.Mealname{
    text-decoration: underline;
    font-size: 45px;
}
.Head1name{
    text-decoration: underline;
}
.instruction-p{
    line-height: 1.5;
}